body{
    background-image:
      url(https://i.pinimg.com/736x/b9/55/a0/b955a0e9a9c0cc1244dbfcb5d9e7f603.jpg);
   background-attachment: fixed;
   background-size:cobver;
   background-position: center center;
    }
font-family: 'Rampart One', cursive;
